/* font imports */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC|Ibarra+Real+Nova&display=swap');

body, html{
    height: 100%;
    margin: 0;
/* Defining color variables */
    --transparent-bg-color:  rgba(15,15,15,0.1);
    --main-bg-color: #464340;
    --secondary-bg-color: #CECFCD;
    --main-text-color: #4E6AB2;
    --secondary-text-color:#263357;
/* Defining font variables */
    --main-font:'Ibarra Real Nova', serif;
    --secondary-font:'IM Fell Great Primer SC', serif;
}
/* removing styles on link and list elements */
a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

ul{
    padding-inline-start: 0;
}
/* General styles */
.title{
    color: var(--secondary-bg-color);
    text-align: center;
    font-size: 2em;
    font-family: var(--main-font);
}

h2{
    margin-block-end: 0;
}
/* styles for header and to replicate table layout */
#top-section{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(./img/hero-1.jpg);
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* nav menu */
#main-nav{
    background-color: var(--transparent-bg-color);
    height: 15%;
    width: 100%;
    min-width: 100%;
}

#main-nav>ul{
    display: flex;
    justify-content: space-evenly;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 1em;
}

#main-nav a{
    font-size: 1.15em;
    text-transform: uppercase;
}

#main-nav a:link, a:visited{
    color: var(--main-text-color);
}

.main-links:hover{
    color: var(--secondary-bg-color);
}

.header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
}

#container{
    width: 50%;
    align-self: center;
}

/* profile picture */
#profile-pic{
    display: block;
    border-radius: 25%;
    height: 200px;
    margin: 0 auto;
}

/* header and sub-header text */
.intro{
    width: 90%;
    text-align: center;;

}

#name{
    font-size: 3em;
    margin: .67em auto;
    font-family: var(--secondary-font);
}

.intro>h2{
    font-size: 2em;
    margin: .67em auto;
    font-family: var(--main-font);
}

.intro > p{
    color: var(--secondary-bg-color);
    font-size: 1.67em;
    text-align: justify;
    font-family: var(--main-font);
    line-height: 1.33em;
}

/* main container */
main{
    width: 100%;
    margin-block-start: 0;
}

#skills-title, #pj-title{
    padding: .5em;
    margin-block-start: 0;
    /* margin-block-end: 1em; */
}

/* projects section */
#projects{
    width: 97.5%;
    height: auto;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: repeat( 2, 1fr);
    grid-gap: 1.5em 1.5em;
    margin: 0 auto;
    padding: 1em;
    align-items: center;
    justify-content: center;
}

#pj-title{
    background-color: var(--secondary-text-color);
}

.pj-cnt{
    box-sizing: border-box;
    height: 15em;
    background-color: rgba(255,255,255,0.9);
    margin: 0;
    box-shadow: 0 2px 4px 0 rgba(255,255,255,0.4);
    transition: 0.3s;
}

.pj-cnt:hover{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.5);
}

#skills{
    height: auto;
}

#skills-title{
    background-color: var(--secondary-text-color);
    color: var(--secondary-bg-color);
}

/* media queries */
@media screen and (max-width: 425px){
    body,html{
        font-size: 10px;
    }

    .header{
        flex-direction: column;
    }

    .intro{
        width: 100%;
    }
    #name{
        font-size: 3rem;
    }

    #projects{
        grid-template-columns: 90%;
        grid-template-rows: repeat(5, 1fr);
    }
}